*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #111;
  color: #fff;
}
